.jumbotron p {
    text-align: center;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    /* margin: 0; */
    margin:0;
    padding: 0;
    overflow: hidden;
    display:flex;
    justify-content: center;
    /* background-color: #335553; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }

  h1{
    text-align:center;

}
