body{
    background-color: black;
    background-image: url("../Images/barbell.jpg");
}

.container{
    width:560px;
    margin: auto;
    /* background-color: white; */
    padding: 15px;
    /* border-radius: 10px; */
    /* box-shadow: 10px 10px 10px 0px #000000; */
}

.container h4{
    text-align:center;
    color: navy;
}
