.content{
    color:rgba(0, 102, 255, 0.781);
    width:800px;
    height:500px;
    margin:auto;
    background-color: white;
    padding:15px;
}

body{
    background-color: silver;
}

h4{
    text-align:center;
}
