body{
  background-color: #FBECEC;
}

h1{
  text-align: center;
 }

h3{
  text-align: center;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 50px;
}

.dogCategory {
  float: left;
  width: 33%;
  text-align: center;
  color: #000000;
}
